h1 Videokaukas
p Sveiki fantastikos (ir kosmonautikos) mėgėjai.
h3 Pagrindinė tematika - mokslinė fantastika.
b Apjungia: kiną, literatūrą, istoriją ir mokslą.
br
br
b 
  ' Tikslas -
span pristatyti režisierių sukūrusį ne vieną filmą ta tematika bei, žinoma, filmą.